In [1]:
import agate

/System/Library/Frameworks/Python.framework/Versions/2.7/lib/python2.7/json/encoder.py:207: DeprecationWarning: Interpreting naive datetime as local 2017-03-06 19:27:57.799856. Please add timezone info to timestamps.

In [4]:
counties = agate.Table.from_csv("county_population.csv")

/System/Library/Frameworks/Python.framework/Versions/2.7/lib/python2.7/json/encoder.py:207: DeprecationWarning: Interpreting naive datetime as local 2017-03-06 19:30:19.674038. Please add timezone info to timestamps.

In [5]:
print counties

| column        | data_type |
| ------------- | --------- |
| county        | Text      |
| state         | Text      |
| estimate_2010 | Number    |
| estimate_2011 | Number    |
| estimate_2012 | Number    |
| estimate_2013 | Number    |
| estimate_2014 | Number    |
| estimate_2015 | Number    |

/System/Library/Frameworks/Python.framework/Versions/2.7/lib/python2.7/json/encoder.py:207: DeprecationWarning: Interpreting naive datetime as local 2017-03-06 19:30:38.922932. Please add timezone info to timestamps.

In [6]:
popchange1016 = counties.compute([
    ('change', agate.PercentChange('estimate_2010', 'estimate_2015'))
])

/System/Library/Frameworks/Python.framework/Versions/2.7/lib/python2.7/json/encoder.py:207: DeprecationWarning: Interpreting naive datetime as local 2017-03-06 19:31:10.007166. Please add timezone info to timestamps.

In [7]:
print popchange1016[0]['change']

1.256860592755214050493962678

/System/Library/Frameworks/Python.framework/Versions/2.7/lib/python2.7/json/encoder.py:207: DeprecationWarning: Interpreting naive datetime as local 2017-03-06 19:31:20.988789. Please add timezone info to timestamps.

In [9]:
from decimal import Decimal

/System/Library/Frameworks/Python.framework/Versions/2.7/lib/python2.7/json/encoder.py:207: DeprecationWarning: Interpreting naive datetime as local 2017-03-06 19:31:53.888074. Please add timezone info to timestamps.

In [10]:
def round_change(row):
    return row['change'].quantize(Decimal('0.1'))

/System/Library/Frameworks/Python.framework/Versions/2.7/lib/python2.7/json/encoder.py:207: DeprecationWarning: Interpreting naive datetime as local 2017-03-06 19:31:58.209719. Please add timezone info to timestamps.

In [11]:
rounded_change = popchange1016.compute([
    ('change_rounded', agate.Formula(agate.Number(), round_change))
])

/System/Library/Frameworks/Python.framework/Versions/2.7/lib/python2.7/json/encoder.py:207: DeprecationWarning: Interpreting naive datetime as local 2017-03-06 19:32:11.256913. Please add timezone info to timestamps.

In [13]:
print rounded_change[0]['change_rounded']

1.3

/System/Library/Frameworks/Python.framework/Versions/2.7/lib/python2.7/json/encoder.py:207: DeprecationWarning: Interpreting naive datetime as local 2017-03-06 19:32:38.776499. Please add timezone info to timestamps.

In [15]:
sorted_counties = rounded_change.order_by('change', reverse=True)
sorted_counties.select(['county', 'state', 'change_rounded']).print_table(max_rows=50)

| county              | state          | change_rounded |
| ------------------- | -------------- | -------------- |
| McKenzie County     | North Dakota   |          100.4 |
| Williams County     | North Dakota   |           56.3 |
| Loving County       | Texas          |           34.9 |
| Mountrail County    | North Dakota   |           33.8 |
| Stark County        | North Dakota   |           32.0 |
| Dunn County         | North Dakota   |           31.2 |
| Sumter County       | Florida        |           26.1 |
| Wasatch County      | Utah           |           23.4 |
| St. Bernard Parish  | Louisiana      |           23.4 |
| Hays County         | Texas          |           23.0 |
| Richland County     | Montana        |           22.7 |
| Andrews County      | Texas          |           22.0 |
| Billings County     | North Dakota   |           21.4 |
| Fort Bend County    | Texas          |           21.3 |
| Long County         | Georgia        |           20.7 |
| Forsyth County      | Georgia        |           20.2 |
| Dallas County       | Iowa           |           20.1 |
| Osceola County      | Florida        |           20.1 |
| Kendall County      | Texas          |           20.0 |
| Williamson County   | Texas          |           19.2 |
| Loudoun County      | Virginia       |           19.0 |
| Sterling County     | Texas          |           18.8 |
| St. Johns County    | Florida        |           18.5 |
| Comal County        | Texas          |           18.1 |
| Divide County       | North Dakota   |           17.9 |
| Burke County        | North Dakota   |           17.8 |
| Midland County      | Texas          |           17.6 |
| Martin County       | Texas          |           17.1 |
| Denton County       | Texas          |           17.0 |
| Montgomery County   | Texas          |           17.0 |
| Lincoln County      | South Dakota   |           17.0 |
| Uintah County       | Utah           |           16.9 |
| Ector County        | Texas          |           16.3 |
| Fredericksburg city | Virginia       |           16.2 |
| Morgan County       | Utah           |           16.1 |
| Collin County       | Texas          |           15.9 |
| Broomfield County   | Colorado       |           15.6 |
| Bryan County        | Georgia        |           15.6 |
| Columbia County     | Georgia        |           15.3 |
| Crane County        | Texas          |           15.3 |
| McMullen County     | Texas          |           15.2 |
| Rockwall County     | Texas          |           15.1 |
| Williamson County   | Tennessee      |           15.0 |
| Walton County       | Florida        |           15.0 |
| Ward County         | North Dakota   |           14.8 |
| Canadian County     | Oklahoma       |           14.6 |
| Horry County        | South Carolina |           14.3 |
| Greenlee County     | Arizona        |           14.3 |
| Travis County       | Texas          |           14.2 |
| Cass County         | North Dakota   |           14.1 |
| ...                 | ...            |            ... |

/System/Library/Frameworks/Python.framework/Versions/2.7/lib/python2.7/json/encoder.py:207: DeprecationWarning: Interpreting naive datetime as local 2017-03-06 19:32:55.619389. Please add timezone info to timestamps.

In [44]:
NorthDakota = sorted_counties.where(lambda r: r['state'] == 'North Dakota')
NorthDakota_order = NorthDakota.order_by('change_rounded')
NorthDakota_order.print_table()

| county          | state        | estimate_2010 | estimate_2011 | estimate_2012 | estimate_2013 | ... |
| --------------- | ------------ | ------------- | ------------- | ------------- | ------------- | --- |
| Nelson County   | North Dakota |         3,120 |         3,066 |         3,082 |         3,075 | ... |
| Pembina County  | North Dakota |         7,399 |         7,383 |         7,261 |         7,164 | ... |
| Emmons County   | North Dakota |         3,542 |         3,524 |         3,482 |         3,481 | ... |
| Griggs County   | North Dakota |         2,411 |         2,372 |         2,355 |         2,291 | ... |
| Cavalier County | North Dakota |         3,982 |         3,953 |         3,942 |         3,869 | ... |
| Dickey County   | North Dakota |         5,285 |         5,269 |         5,249 |         5,232 | ... |
| Logan County    | North Dakota |         1,999 |         1,970 |         1,936 |         1,935 | ... |
| Walsh County    | North Dakota |        11,090 |        11,030 |        11,049 |        11,092 | ... |
| McIntosh County | North Dakota |         2,796 |         2,763 |         2,757 |         2,751 | ... |
| Traill County   | North Dakota |         8,111 |         8,048 |         8,065 |         8,196 | ... |
| Steele County   | North Dakota |         1,976 |         2,032 |         1,995 |         1,960 | ... |
| Kidder County   | North Dakota |         2,439 |         2,446 |         2,435 |         2,426 | ... |
| Pierce County   | North Dakota |         4,352 |         4,379 |         4,458 |         4,440 | ... |
| Eddy County     | North Dakota |         2,382 |         2,351 |         2,374 |         2,393 | ... |
| Wells County    | North Dakota |         4,199 |         4,218 |         4,262 |         4,187 | ... |
| Sheridan County | North Dakota |         1,314 |         1,313 |         1,273 |         1,317 | ... |
| Stutsman County | North Dakota |        21,125 |        21,000 |        20,978 |        21,124 | ... |
| LaMoure County  | North Dakota |         4,123 |         4,115 |         4,097 |         4,118 | ... |
| Grant County    | North Dakota |         2,389 |         2,355 |         2,337 |         2,372 | ... |
| Ransom County   | North Dakota |         5,429 |         5,418 |         5,474 |         5,490 | ... |
| ...             | ...          |           ... |           ... |           ... |           ... | ... |

/System/Library/Frameworks/Python.framework/Versions/2.7/lib/python2.7/json/encoder.py:207: DeprecationWarning: Interpreting naive datetime as local 2017-03-06 20:28:55.828532. Please add timezone info to timestamps.

In [45]:
nationwide = sorted_counties.order_by('change_rounded', reverse=True)
sampled = nationwide.limit(step=50)
sampled.print_table()

| county              | state        | estimate_2010 | estimate_2011 | estimate_2012 | estimate_2013 | ... |
| ------------------- | ------------ | ------------- | ------------- | ------------- | ------------- | --- |
| McKenzie County     | North Dakota |         6,399 |         7,015 |         7,969 |         9,269 | ... |
| Gaines County       | Texas        |        17,570 |        18,021 |        18,381 |        18,846 | ... |
| Ascension Parish    | Louisiana    |       107,849 |       110,062 |       112,227 |       114,581 | ... |
| Hillsborough County | Florida      |     1,233,831 |     1,271,399 |     1,281,606 |     1,294,039 | ... |
| Lafayette Parish    | Louisiana    |       222,147 |       224,315 |       227,130 |       231,466 | ... |
| Harrison County     | Mississippi  |       187,896 |       190,940 |       193,700 |       196,533 | ... |
| Wise County         | Texas        |        59,108 |        59,969 |        60,430 |        61,048 | ... |
| Clay County         | Missouri     |       222,627 |       225,023 |       227,486 |       230,362 | ... |
| Bath County         | Kentucky     |        11,613 |        11,708 |        11,797 |        11,995 | ... |
| Union County        | Mississippi  |        27,132 |        27,323 |        27,363 |        27,772 | ... |
| Clark County        | Indiana      |       110,557 |       111,553 |       111,908 |       112,771 | ... |
| Gonzales County     | Texas        |        19,795 |        19,763 |        19,936 |        20,174 | ... |
| Outagamie County    | Wisconsin    |       176,936 |       177,776 |       178,913 |       180,238 | ... |
| Sherburne County    | Minnesota    |        88,799 |        89,286 |        89,555 |        90,251 | ... |
| Cumberland County   | Maine        |       281,462 |       282,758 |       284,103 |       285,882 | ... |
| Floyd County        | Indiana      |        74,708 |        75,037 |        75,355 |        76,098 | ... |
| Gordon County       | Georgia      |        55,207 |        55,490 |        55,703 |        55,763 | ... |
| Medina County       | Ohio         |       172,542 |       173,456 |       173,674 |       174,667 | ... |
| Lincoln Parish      | Louisiana    |        46,863 |        47,066 |        47,088 |        47,390 | ... |
| Albany County       | New York     |       304,069 |       305,010 |       306,419 |       307,776 | ... |
| ...                 | ...          |           ... |           ... |           ... |           ... | ... |

/System/Library/Frameworks/Python.framework/Versions/2.7/lib/python2.7/json/encoder.py:207: DeprecationWarning: Interpreting naive datetime as local 2017-03-06 20:48:50.037217. Please add timezone info to timestamps.

In [47]:
estimate_2015 = sorted_counties.order_by('estimate_2015')
sampled2 = estimate_2015.limit(step=50)
sampled2.print_table()

| county               | state        | estimate_2010 | estimate_2011 | estimate_2012 | estimate_2013 | ... |
| -------------------- | ------------ | ------------- | ------------- | ------------- | ------------- | --- |
| Kalawao County       | Hawaii       |            90 |            90 |            89 |            89 | ... |
| Issaquena County     | Mississippi  |         1,394 |         1,391 |         1,408 |         1,413 | ... |
| Stanton County       | Kansas       |         2,248 |         2,219 |         2,163 |         2,166 | ... |
| Wayne County         | Utah         |         2,765 |         2,754 |         2,725 |         2,724 | ... |
| Bennett County       | South Dakota |         3,444 |         3,440 |         3,441 |         3,456 | ... |
| Hardin County        | Illinois     |         4,305 |         4,282 |         4,259 |         4,246 | ... |
| Carlisle County      | Kentucky     |         5,101 |         5,049 |         5,042 |         4,980 | ... |
| Martin County        | Texas        |         4,816 |         4,905 |         4,993 |         5,269 | ... |
| Hartley County       | Texas        |         6,055 |         6,081 |         6,153 |         6,061 | ... |
| Brown County         | Illinois     |         6,913 |         6,873 |         6,891 |         6,859 | ... |
| Rappahannock County  | Virginia     |         7,501 |         7,500 |         7,451 |         7,467 | ... |
| Kusilvak Census Area | Alaska       |         7,464 |         7,654 |         7,790 |         7,952 | ... |
| Gallatin County      | Kentucky     |         8,610 |         8,583 |         8,502 |         8,506 | ... |
| Irwin County         | Georgia      |         9,600 |         9,694 |         9,604 |         9,405 | ... |
| Webster County       | Mississippi  |        10,285 |        10,130 |        10,052 |         9,939 | ... |
| Nowata County        | Oklahoma     |        10,513 |        10,620 |        10,586 |        10,530 | ... |
| Morrow County        | Oregon       |        11,204 |        11,197 |        11,233 |        11,243 | ... |
| Marion County        | Kansas       |        12,665 |        12,544 |        12,377 |        12,219 | ... |
| Fremont County       | Idaho        |        13,241 |        13,132 |        12,991 |        12,913 | ... |
| Glacier County       | Montana      |        13,431 |        13,563 |        13,659 |        13,793 | ... |
| ...                  | ...          |           ... |           ... |           ... |           ... | ... |

/System/Library/Frameworks/Python.framework/Versions/2.7/lib/python2.7/json/encoder.py:207: DeprecationWarning: Interpreting naive datetime as local 2017-03-06 20:57:21.591951. Please add timezone info to timestamps.

In [48]:
state_ord = sorted_counties.pivot('state')

/System/Library/Frameworks/Python.framework/Versions/2.7/lib/python2.7/json/encoder.py:207: DeprecationWarning: Interpreting naive datetime as local 2017-03-06 21:07:12.908396. Please add timezone info to timestamps.

In [49]:
state_ord.print_table()

| state          | Count |
| -------------- | ----- |
| North Dakota   |    53 |
| Texas          |   254 |
| Florida        |    67 |
| Utah           |    29 |
| Louisiana      |    64 |
| Montana        |    56 |
| Georgia        |   159 |
| Iowa           |    99 |
| Virginia       |   133 |
| South Dakota   |    66 |
| Colorado       |    64 |
| Tennessee      |    95 |
| Oklahoma       |    77 |
| South Carolina |    46 |
| Arizona        |    15 |
| North Carolina |   100 |
| Nebraska       |    93 |
| Alaska         |    29 |
| Washington     |    39 |
| Indiana        |    92 |
| ...            |   ... |

/System/Library/Frameworks/Python.framework/Versions/2.7/lib/python2.7/json/encoder.py:207: DeprecationWarning: Interpreting naive datetime as local 2017-03-06 21:07:25.023583. Please add timezone info to timestamps.

In [59]:
states = sorted_counties.group_by('state')

/System/Library/Frameworks/Python.framework/Versions/2.7/lib/python2.7/json/encoder.py:207: DeprecationWarning: Interpreting naive datetime as local 2017-03-06 21:16:47.935528. Please add timezone info to timestamps.

In [61]:
change_avg = states.aggregate([('change_mean', agate.Mean('change_rounded'))])

/System/Library/Frameworks/Python.framework/Versions/2.7/lib/python2.7/json/encoder.py:207: DeprecationWarning: Interpreting naive datetime as local 2017-03-06 21:24:33.000510. Please add timezone info to timestamps.

In [65]:
change_avg.print_table()

| state          | change_mean |
| -------------- | ----------- |
| North Dakota   |      7.789… |
| Texas          |      2.587… |
| Florida        |      4.467… |
| Utah           |      4.945… |
| Louisiana      |      0.212… |
| Montana        |      2.246… |
| Georgia        |      0.653… |
| Iowa           |     -0.818… |
| Virginia       |      1.370… |
| South Dakota   |      1.295… |
| Colorado       |      1.931… |
| Tennessee      |      1.281… |
| Oklahoma       |      1.030… |
| South Carolina |      1.263… |
| Arizona        |      2.740… |
| North Carolina |      1.262… |
| Nebraska       |     -1.297… |
| Alaska         |      1.600… |
| Washington     |      3.074… |
| Indiana        |      0.021… |
| ...            |         ... |

/System/Library/Frameworks/Python.framework/Versions/2.7/lib/python2.7/json/encoder.py:207: DeprecationWarning: Interpreting naive datetime as local 2017-03-06 21:27:02.823224. Please add timezone info to timestamps.

In [ ]:
change_avg =